*{
    margin: 0;
}

body{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
    margin-top: 42px;
    color: #3662ff;
    text-align: center;
}

h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;
    margin-top: 73px;
    text-align: center;
    color: white;
}

ul{
    margin-top: 20px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 34px;
}

figure>img{
    width: 160px;
    height: 160px;
    overflow: hidden;
}

li{
    margin-top: 100px;
    margin-left: 15px;
}

li :hover{
    display: block;
    justify-content: center;
    flex-direction: row;
    color: white;
    filter: opacity(90%);
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s;
}

img {
    border-radius: 15px;
    width: 160px;
    height: 160px;
}

div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

button{
    width: 206px;
    height: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    border-color: #ffff;
    border: 1.5 solid #ffffff;
    color: #ffff;
    background-color: black;
    font-size: 16px;
    margin-top: 136px;
    border-radius: 8px;
    transform: scale(1.05);
    transition: 0.2s;
    overflow: hidden;
}

button:hover{
    background-color: #ffff;
    color: black;
    cursor: pointer;
}

figcaption{
    text-align: center;
    margin-top: 15%;
    font-size: 20px;
    color: #ffff;
}
